@model NOR_2023_01_24.Models.Veiculo

@{
    ViewData["Title"] = "Adicionar Veículo";
}

<h1>Adicionar novo veículo para</h1>
<h2>@ViewBag.ProprietarioNome</h2>
<h3>Novo Veículo</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProprietarioId" value="@ViewBag.ProprietarioId" />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Proprietarios" asp-route-id="@ViewBag.ProprietarioId">Cancelar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}